body {
	margin: 0px;
	padding: 0px;
	background-color: rgb(245, 240, 240);
}

.main-wrapper {
	display: flex;
	flex-direction: column;
}

.vertical-nav {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: 100%;
	position: fixed;
	background-color: rgb(17, 16, 16);
}

.vertical-nav a {
	margin-top: 25px;
	margin-left: 25px;
	text-decoration: none;
	color: white;
	font-size: 28px;
}

.vertical-nav p {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 15px;
	text-decoration: none;
    font-size: 1.8em;
    color: #e50914;
    cursor: pointer;
	border-bottom: 0.5px solid white;
}

.press-seo {
	display: flex;
	justify-content: center;
	margin-left: 25%;
}

.first-seo-press {
	flex-direction: column;
	margin-top: 50px;
}

.first-seo-press a {
	font-size: 32px;
	line-height: 38px;
	color: #054ada;
	text-emphasis-style: bold;
	text-decoration: none;
}

.first-seo-press p {
	margin-bottom: 75px;
	font-weight: 400;	
	color: rgb(58, 56, 56);
	line-height: 28px;
	letter-spacing: 1px;
}

.title-desc-seo-press {
	width: 750px;
	height: 225px;
	padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

.first-seo-press a:hover {
	color: #f80;
    opacity: 1;
}